  body{  
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
}

.pimg1{
    background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg");
    min-height: 100%;
    position: relative;
    opacity: 0.70;
    background-attachment: fixed;
    background-position:center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 350px 200px 200px 350px;
}

.ptext{
    position: absolute;
    top: 50%;
    right: 1%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.border{
    background-color: #111;
    color: #fff;
    padding: 20px
}

/* 1st Paragraph */

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

/* 2nd Image */

.pimg2{
    background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image2.jpg");
    min-height: 100%;
    position: relative;
    opacity: 0.70;
    background-attachment: fixed;
    background-position:center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 200px 200px 200px;
}

.ptext2{
    font-size: 27px;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase;
}

/* 2nd Paragraph */

.section-dark{
background-color: #282e34;
color:white;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.pimg3{
    background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image3.jpg");
    min-height: 100%;
    position: relative;
    opacity: 0.70;
    background-attachment: fixed;
    background-position:center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 300px 200px 200px 300px;
}

.ptext3{
    position:absolute;
    top:50%;
    right: 30%;
    font-size: 27px;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase;
}

.section-dark2{
    background-color: #282e34;
    color:white;
    }
    
    .section{
        text-align: center;
        padding: 50px 80px;
    }

